<!DOCTYPE html>
<html>
  <head>
    <title>About | 進捗管理アプリ</title>
  </head>
  <body>
    <h1>開発記録</h1>
    
    <div class="container">
      いつも忘れるgit push</br>
      $ git checkout -b basic-login</br>
      開発が終わったら。</br>
      $ rails test</br>
      $ git add -A</br>
      $ git commit -m "Implement basic login"</br>
      $ git checkout master</br>
      $ git merge basic-login</br>
        マージ後、リモートのリポジトリにpushします。</br>
      $ rails test</br>
      $ git push</br>
      $ git push heroku</br>
        データベースをいじった場合は</br>
      $ heroku run rails db:migrate</br>
    </div>
    </br>
    <p>こちらは開発の記録です。</p>
    2019年6月30日現在、このアプリを作り始めて丸一日を経過。</br>
    わかったこと。</br>
    コピペではやっぱり理解できないし楽しくない。</br>
    Progateで学んだレベルのことでも実装すればちゃんと動くので、実際に自分で作ってみることが大事。</br>
    相変わらずHerokuは毎回コマンドがないと言われる。→多分解決！</br>
    今日の成果はユーザ詳細に自分のレコードを表示させられたこと。</br>
    この後はステータスごとの集計とかをやりたい。</br>
    問題発生。商談のフォームで担当者をデフォルトでcurrent_userにしているので</br>
    更新かけると自分の担当じゃない商談も自分に変えちゃう。→解決</br>
    newとeditでフォームを使い分けることはできるのか。</br>
    submitも更新でも新規作成になっちゃう。→解決</br>
    後、ユーザー登録後にhomeに飛んでいるのがおかしい。→解決</br>
    </br>
    7/1　今日は売上の合計値を入れることができた。</br>
    検索項目の実装に苦労したがようやくuser_idで検索することには成功。</br>
    ちゃんとユーザー名とかステータスで絞り込めるようにしていきたい。</br>
    成功したと思ったのに本番環境では検索ができない！疲れた。</br>
    原因判明。無理くりuser_idをtextと同様に検索にかけたのがダメなよう。</br>
    やっぱりintegerで検索できるように変えないとダメそう。→解決！</br>
    </br>
    7/3 recordの検索が完成した。後必要なもの。</br>
    ・見込み額と売上額を分ける</br>
    ・レコードごとに案件を紐づける？？clientを別にする&candidate idが必要になる</br>
    ・レコードごとにユーザがコメントをつけられるようにする、できたら通知機能も</br>
    応募を管理するentries というテーブルを作る。</br>
    user_id, candidate_id, client, entry_status, interview_day, expecter_sales, Rank</br>
    担当　候補者　企業　ステータス　面接日程　見込金額　ランク　成約予定</br>
    木島　Aさん　○○会社　面接待ち　　６/２　　100万円　　A　　6/30　</br>
    今更だけどcandidate_idでrecordと繋げるのではなくてrecord_idにした方が良かったような気がする。</br>
    レコードと応募を紐づけすることはできた。複数の応募を紐づけるのにはeachを入れ子にすれば良い！</br>
    問題はレコードに紐づいた状態での新規応募作成の仕方がわからない。</br>
    herokuしてみたがなんかエラーが出てる。新規応募作成はできた（showもeditもできる）が、応募一覧でエラー。
    indexのcandidateがActionView::Template::Error (undefined method `candidate' for nil:NilClass):
    </br>
    →解決。candidateがnilということ。登録したentryのcandidate_idに合致するrecordのcandidateがいなかった。
    </br>
    7/4　ソート機能を作ったり、終了・成約を通常は表示させない設定にしたい</br>
    終了・成約をのぞいて表示することには成功したが、終了・成約のみを表示することができない</br>
    チェックボックス検索のやり方がわからない</br>
    もしくは別ページを用意して、そこに成約だけ絞り込ませるか、ちょっとやってみて失敗したが別にできそう</br>
    </br>
    </p>
  </body>
</html>