<!DOCTYPE html>
<html>
  <head>
    <title>About | 進捗管理アプリ</title>
  </head>
  <body>
    <h1>開発記録</h1>
    こちらは開発の記録です。</br>
    2019年6月30日現在、このアプリを作り始めて丸一日を経過。</br>
    わかったこと。</br>
    コピペではやっぱり理解できないし楽しくない。</br>
    Progateで学んだレベルのことでも実装すればちゃんと動くので、実際に自分で作ってみることが大事。</br>
    相変わらずHerokuは毎回コマンドがないと言われる。</br>
    今日の成果はユーザ詳細に自分のレコードを表示させられたこと。</br>
    この後はステータスごとの集計とかをやりたい。</br>
    </p>
  </body>
</html>