<!DOCTYPE html>
<html>
  <head>
    <title>About | 進捗管理アプリ</title>
  </head>
  <body>
    <h1>開発記録</h1>
    
    <div class="container">
      いつも忘れるgit push</br>
      $ git checkout -b basic-login</br>
      開発が終わったら。</br>
      $ rails test</br>
      $ git add -A</br>
      $ git commit -m "Implement basic login"</br>
      $ git checkout master</br>
      $ git merge basic-login</br>
        マージ後、リモートのリポジトリにpushします。</br>
      $ rails test</br>
      $ git push</br>
      $ git push heroku</br>
        データベースをいじった場合は</br>
      $ heroku run rails db:migrate</br>
    </div>
    </br>
    <p>こちらは開発の記録です。</p>
    2019年6月30日現在、このアプリを作り始めて丸一日を経過。</br>
    わかったこと。</br>
    コピペではやっぱり理解できないし楽しくない。</br>
    Progateで学んだレベルのことでも実装すればちゃんと動くので、実際に自分で作ってみることが大事。</br>
    相変わらずHerokuは毎回コマンドがないと言われる。</br>
    今日の成果はユーザ詳細に自分のレコードを表示させられたこと。</br>
    この後はステータスごとの集計とかをやりたい。</br>
    問題発生。商談のフォームで担当者をデフォルトでcurrent_userにしているので</br>
    更新かけると自分の担当じゃない商談も自分に変えちゃう。</br>
    newとeditでフォームを使い分けることはできるのか。</br>
    submitも更新でも新規作成になっちゃう。</br>
    後、ユーザー登録後にhomeに飛んでいるのがおかしい。
    </p>
  </body>
</html>