<h1>ユーザ一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>担当者</th>
      <th>支社</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.branch %></td>
        <td><%= link_to '詳細', "/users/#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
