<footer class="footer">
  <small>
    tabbies new app
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/static_pages/about' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>